@media (max-width:1440px){
    .container{
        max-width: 1280px;
    }
    
    .image{
        max-width:60%;
    }
}
@media (max-width:1280px){
    .container{
        max-width: 1024px;
    }

    .image{
        max-width:50%;
        width: 100%;
    }
}
@media (max-width:1024px){
    .container{
        max-width: 768px;
        align-items: center;
    }

    .image{
        max-width:70%;
        height: 90%;
    }

    .reviews>.container{
        justify-content: center;
    }

    .episodes__card{
        flex-direction: column;
    }

    .episode-desc{
        align-items: center;
    }

    .subscribe > .container {
        align-items: center;
        flex-direction: column;
    }

    .subscribe__form {
        align-items: center;
    }

    .profile>.container>img{
        width: 60%;
    }
}
@media (max-width:768px){
    .container{
        max-width: 480px;
    }

    .container h1{
        padding-left: 175px;
    }

    .icons {
        margin-top: 50px;
        align-items: center;
    }

    .header__burger-btr{
        display: flex;
        position: fixed;
        left: 20px;
    }

    .menu{
        position: fixed;
        display: flex;
        align-items: center;
        padding: 300px 50px 10px 20px;
        left: -100%;
        height: 1000%;
        background: #000;
        transform: translateX(0px);
    }

    .menu_active{
        transform: translateX(0);  
        left: 0;
    }
    .body_fixed{
        overflow: hidden;
    }

    .menu__list{
        display: block;
    }

    .menu__list-item{
        display: block;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .welcome>.container{
        flex-direction: column;
    }

    .episodes__card{
        flex-direction: column;
    }

    .episode-desc{
        align-items: center;
    }

    .episodes__header{
        flex-direction: column;
        gap: 20px;
    }

    .profile>.container{
        flex-direction: column;
    }
    
    .profile__items > .profile__item{
        align-items: center;
    }

    .profile>.container>img{
        width: 60%;
    }

    .container .footer{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:480px){
    .container{
        max-width: 350px;
    }

    .episodes__card img{
        width: 60%;
    } 

    .profile>.container>img{
        width: 100%;
    }

}