@media (max-width:1440px){
    .container{
        max-width: 1280px;
    }
    .image{
        max-width:60%;
    }
}
@media (max-width:1280px){
    .container{
        max-width: 1024px;
    }
    .image{
        max-width:50%;
        width: 100%;
    }
}
@media (max-width:1024px){
    .container{
        max-width: 768px;
        align-items: center;
    }
    .image{
        max-width:70%;
        height: 90%;
    }
    .reviews>.container{
        justify-content: center;
    }
    .episodes__card{
        flex-direction: column;
    }
    .episode-desc{
        align-items: center;
    }
    .header .container{
        flex-direction: column;
    }
    .subscribe > .container {
        align-items: center;
        flex-direction: column;
    }
    .subscribe__form {
        align-items: center;
    }
    .profile>.container>img{
        width: 60%;
    }
}
@media (max-width:768px){
    .container{
        max-width: 480px;
    }
    .welcome>.container{
        flex-direction: column;
    }
    .episodes__card{
        flex-direction: column;
    }
    .episode-desc{
        align-items: center;
    }
    .icons {
        margin-top: 50px;
        align-items: center;
    }
    .episodes__header{
        flex-direction: column;
        gap: 20px;
    }
    .profile>.container{
        flex-direction: column;
    }
    
    .profile__items > .profile__item{
        align-items: center;
    }
    .profile>.container>img{
        width: 60%;
    }
    .container .footer{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:480px){
    .container{
        max-width: 350px;
    }
    .episodes__card img{
        width: 60%;
    } 
    .profile>.container>img{
        width: 100%;
    }

}