*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container{
    margin: 0 auto; 
    max-width: 1440px;
    width: 100%;
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.menu .menu__item{
    display: flex;

}