*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background: #191919;
}
.container{
    margin: 0 auto; 
    max-width: 1440px;
    width: 100%;
}

.header{
    margin: 25px 0px;
}
.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.menu__item{
    font-family: "DM Sans", sans-serif;
    color: aliceblue;
    font-size: 20px;
}

.title{
    font-size: 70px;
    font-weight: 800;    
    letter-spacing: 2px;
    color: aliceblue;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

.title_xl{
    font-size: 64px;
}

.title_s {
    color: #118da8;
    font-size: 20px;
}

.title_xs{
    font-size: 22px;
    opacity: 0.5;
    line-height: 150%;
}

.title_l{
    font-size: 36px;
}

.title_m{
    font-size: 18px;
}