h1{
    font-family: "DM Sans", sans-serif;
    color: aliceblue;
    font-size: 70px;
    font-weight: lighter;    
    letter-spacing: 5px;
}
.welcome > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}
.welcome{
    padding: 50px 0px; 
}

.container > img{
   width: 50%;
}

.icons h6{
    font-family: "DM Sans", sans-serif;
    color: aliceblue;
    font-size: 15px;
    font-weight: lighter;
    margin: 15px 0px;
}

.icons__items{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

 .welcome-desc  {
    width: 500px;
    max-width: 100%;
}
