@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&display=swap');

h1{
    font-family: "DM Sans", sans-serif;
    font-size: 70px;
    font-weight: 600;    
    letter-spacing: 5px;
}
.welcome > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}
.welcome{
    padding: 50px 0px 0px 0px; 
}
.container > img{
   width: 50%;
}
.icons h6{
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0px;
}
.icons__items{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
 .welcome-desc  {
    width: 500px;
    max-width: 100%;
}
.icons{
    margin-top: 100px;
}
.episodes-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0px;
    width: 100%;
}
.button{
    width: fit-content;
    padding: 0px 15px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #118DA8;
    color: aliceblue;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.episode img{
    border-radius: 10px;
}
.episode {
    display: flex;
    border-radius: 10px;
    background: #000;
    padding: 30px;
    gap: 30px;
}

.episodes > .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.episode-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.episode h5{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
    border-radius: 5px;
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 15px;
}
.episode h6{
    color: #118da8;
    font-size: 20px;
    font-weight: 600;
}
.episodes h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    opacity: 0.5;
}
.card > .container{
    display: flex;
    justify-content: space-between;
    padding: 150px 0px;
    gap: 70px;
}
.card__items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.card__items p{
    color: #118da8;
    font-size: 15px;
    font-weight: 600;
}
.card__items h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    opacity: 0.5;
}
.card__items .button{
    border-radius: 100%;
    max-width: 112px;
    width: 100%;
    max-height: 112px;
    height: 100vh;
}
.card__items > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subscribe .container{
    display: flex;
    justify-content: space-around;
    align-items: start;
    background: #000;
    border-radius: 10px;
    gap: 90px;
    padding: 50px;
}
.subscribe .subscribe__input{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subscribe__input input{
    background: #191919;
    border-radius: 10px;
    border: none;
    width: 520px;
    height: 80px;
    font-size: 20px;
    padding: 20px;
    color: aliceblue;
}
.subscribe__items p{
    color: #118da8;
    font-size: 20px;
    font-weight: 600;
}